body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #ffe6f0,
        #ffb3d9,
        #ff66a3
    );
}

.box{
    background-color: #ffe6f0;
    position: relative;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}
.box {
    animation: entrada 0.8s ease;
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    font-size: 2em;
    margin-top: 20px;
}

img{
    transition: all 0.3s ease ;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
button{
    padding: 12px 30px;
    margin: 15px 10px 0 10px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:first-of-type{
    background: linear-gradient(45deg, #ff66a3, #ff3385);
    color: white;
}

button:first-of-type:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 0, 102, 0.4);
}
button:last-of-type{
    background-color: #f8d7e3;
    color: #a1005a;
}

button:last-of-type:hover{
    background-color: #ffc0cb;
    transform: scale(1.05);
}
.heart{
    position: fixed;
    font-size: 24px;
    animation: floatUp 3s linear forwards;
    pointer-events: none;
}

@keyframes floatUp{
    0%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
    }
}
h2{
    margin-top: 20px;
    font-size: 2em;
    color: #d63384;
    animation: aparecer 0.6s ease;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* Media Query para celulares */
@media (max-width: 480px) {
    .box {
        width: 95%;      /* Un poco más ancho en móviles */
        padding: 20px;   /* Menos padding para ganar espacio */
    }
    
    h2 {
        font-size: 1.5em; /* Texto un poco más chico para que quepa */
    }
}
